<div class="container">
    <p>Movimentos: <%= @coordinate.movimentos %></p>

    <br>
    <p>x: <%= @coordinate.x  %>,</p>
    <p>y: <%= @coordinate.y  %>,</p>
    <p>face: <%= @coordinate.face%></p>

    <% if @coordinate.x == 0 && @coordinate.y == 0 %>
        <p>Não é um input aceitável, por favor voltar e tentar novamente.</p>
    <% end %>

    <%= link_to "Try Again", root_path, class: "btn btn-primary" %>
</div>